.table-scroll {
    overflow-x: auto;
}

#tblData {
    table-layout: fixed;
}

@media (min-width: 320px) and (max-width: 600px){
    #tblData {
        min-width: 440px;
    }
}

@media (min-width: 600px) {
    #tblData {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    #tblData {
        font-size: 0.85rem;
    }

    #tblData th,
    #tblData td {
        padding: 0.3rem 0.5rem;
    }
}

